<div class="card">
    <div class="card-header">
        <table class="header-table">
            <th>
                <tr>
                    <th class="header-title">
                        {{card.title}}
                    </th>
                    <th>
                        {{card.idNo}}
                    </th>
                </tr>
        </table>
    </div>
    <div class="card-summary">
        {{card.summary}}
    </div>
    <div class="card-footer">
        <table>
            <tr>
                <th>
                    {{card.priority}}
                </th>
                <th>
                    {{card.assignedUser}}
                </th>
            </tr>
        </table>
    </div>
</div>