.selection-menu{
    z-index: 1000;
    width: 200px;
}
.selection-menu div:hover{
    background-color: black;
    color: white;
}

.selection-body{
    background: white;
    margin-top: 10px;
}
.select-opt{
    padding-top: 5px;
    padding: 0.5px 20px 10px 0px;
}