<div class="container">
    <table class="create-table">
        <tr>
            <th>
                <h4>
                    Request Type
                </h4>
            </th>
            <th>
                Request Status
            </th>
            <th>
                Request Priority
            </th>
            <th>
                Assigned User
            </th>

        </tr>
        <tr>
            <th>
                <!--  [(ngModel)]="card.type"-->
                <select>
                    <option *ngFor="let type of project?.iqrTypes">
                        {{type}}
                    </option>
                </select>
            </th>
            <th> 
                <!--[(ngModel)]="card.status"-->
                <select >
                    <option *ngFor="let column of project?.columns" [ngValue]=name>{{column.name}}</option>
                </select>
            </th>
            <th> 
                <!--[(ngModel)]="card.priority"-->
                <select>
                    <option *ngFor="let priority of project?.priorities" [ngValue]=priority[1]>
                        {{priority[0]}}
                    </option>
                </select>
            </th>
        </tr>

        <tr>

        </tr>
        <tr>
            <th>
                Project
            </th>
            <th>
                Request Title
            </th>
            <th>
                Request Sumamry
            </th>
        </tr>
    </table>
</div>