<div class="container">
    <table class="create-table">
        <tr>
            <th>
                <h4>
                    Request Type
                </h4>
            </th>
            <th>
                Request Status
            </th>
            <th>
                Request Priority
            </th>
            <th>
                Assigned User
            </th>

        </tr>
        <tr>

        </tr>
        <tr>
            <th>
                Project
            </th>
            <th> 
                Request Title
            </th>
            <th> 
                Request Sumamry
            </th>
        </tr>
    </table>
</div>