<div class="card"  cdkDrag>
    <div class = "card-header">
        <div> 
            {{card.title}}
        </div>
        <div> 
            {{card._idno}}
        </div>
    </div> 
    <div class="card-summary"> 
        {{card.summary}}
    </div>
    <div class="card-footer"> 
        <table>
            <tr> 
                <th>
                    {{card.priority}}
                </th> 
                <th>
                    {{card.assignedUser}}
                </th> 
            </tr>
        </table> 
    </div>
  </div>