<div class = "container" cdkDropListGroup> 

    <div class="boundry" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData] ="enhancements"  >
        <div class = "boundry-header"> 
          <p>new</p>
        </div>
        <app-card class = "card"  *ngFor ="let card of enhancements;" [(card)] = "card" cdkDrag></app-card>
    </div>

    <div class="boundry" cdkDropList (cdkDropListDropped)="drop($event)"  [cdkDropListData] ="defects" >
      <div class = "boundry-header"> 
        <p>defect</p>
      </div>
      <app-card class = "card" *ngFor ="let card of defects;" [(card)] = "card" cdkDrag></app-card> 
  
    </div>


    
    <div class="boundry" cdkDropList (cdkDropListDropped)="drop($event)" >
      
    </div>
  
  </div>
  